.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.info {
  width: 100%;
  max-width: 250px;
  justify-content: start;
  align-items: start;
  position: absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 2;
}
.bg_image_more {
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.title {
  font-size: 28px;
  font-weight: 800;
  color: white;
  max-width: 220px;
}
.title_container {
  max-width: 300px;
  height: 130px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.icons {
  margin-top: 20px;
}
.text {
  color: white;
  font-size: 16px;
}
.text_container {
  height: 180px;
  display: flex;
  align-items: start;
  overflow: hidden;
}

@media (min-width: 600px) {
  .info {
    max-width: 500px;
  }
  .title {
    font-size: 30px;
    max-width: 400px;
  }
  .title_container {
    max-width: 400px;
  }
  .container {
    max-width: 500px;
  }
  .text_container {
    height: 100px;
  }
}

@media (min-width: 900px) {
  .info {
    max-width: 600px;
  }
  .title {
    font-size: 34px;
  }
  .title_container {
    height: 100px;
  }
  .text {
    font-size: 22px;
  }
  .text_container {
    height: 200px;
  }
  .container {
    max-width: 500px;
  }
}
@media (min-width: 1000px) {
  .info {
    max-width: 600px;
  }
  .title {
    font-size: 44px;
    max-width: 800px;
  }
  .title_container {
    height: 150px;
  }
  .text {
    font-size: 28px;
  }
  .text_container {
    height: 280px;
  }
  .container {
    max-width: 500px;
  }
}

@media (min-width: 1300px) {
  .info {
    max-width: 1110px;
    width: 100%;
    justify-content: start;
    align-items: center;
  }
  .container {
    margin: 0;
    justify-content: center;
    align-items: start;
    max-width: 700px;
  }
  .bg_image_more {
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;
    z-index: 1;
    transform: translateZ(100px) scale(1.5);
  }
  .bg_image_low {
    composes: bg_image_more;
    transform: translateZ(100px) scale(1);
    transition: transform 15s ease-in;
  }
  .title {
    text-align: start;
    font-size: 62px;
    font-weight: 900;
    max-width: 1300px;
  }
  .title_container {
    max-width: 1500px;
    height: 180px;
  }
  .text_container {
    height: 250px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .text {
    font-size: 32px;
  }
}
