.swiper {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-wrapper {
  height: 100vh;
}

.swiper-slide {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 90;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
}
.swiper-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 90;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 0px;
}

.swiper-button-prev:hover {
  background: rgba(211, 211, 211, 0.3);
}

.swiper-button-next:hover {
  background: rgba(211, 211, 211, 0.3);
}

/* Анимация текста */

/* Текущий */
.swiper-slide-active div div div h1 {
  margin-top: 0;
  transition: margin-top 1s ease-in-out;
}

/* Предыдущий */
.swiper-slide-prev div div div h1 {
  margin-top: 200px;
  transition: margin-top 1s ease-in-out;
}

/* Следующий */
.swiper-slide-next div div div h1 {
  margin-top: 200px;
  transition: margin-top 1s ease-in-out;
}

/* Текущий */
.swiper-slide-active div div div div span {
  margin-top: 0;
  transition: margin-top 1s ease-in-out;
}

/* Предыдущий */
.swiper-slide-prev div div div div span {
  margin-top: 200px;
  transition: margin-top 1s ease-in-out;
}

/* Следующий */
.swiper-slide-next div div div div span {
  margin-top: 200px;
  transition: margin-top 1s ease-in-out;
}

/* Анимация слайда */

/* Текущий */
.swiper-slide-active div img {
  transform: translateZ(100px) scale(1);
  transition: transform 15s ease-in;
}

/* Предыдущий */
.swiper-slide-prev div img {
  transform: translateZ(100px) scale(1.5);
  transition: transform 15s ease-in;
}

/* Следующий */
.swiper-slide-next div div div h1 {
  transform: translateZ(100px) scale(1.5);
  transition: transform 15s ease-in;
}


@media (min-width: 500px) {
  .swiper-button-next {
    right: 10px;
  }
  .swiper-button-prev {
    left: 10px;
  }
}

@media (min-width: 800px) {
  .swiper-button-next {
    right: 20px;
    border: 1px solid white;
  }
  .swiper-button-prev {
    left: 20px;
    border: 1px solid white;
  }
}
