.root {
  height: 800px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.map {
  height: 500px;
  position: relative;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.header {
  font-weight: 600;
  font-size: 30px;
  font-family: Verdana, Tahoma, sans-serif;
  margin-bottom: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.subText {
  font-weight: 400;
  font-size: 16px;
  font-family: Verdana, Tahoma, sans-serif;
  margin-bottom: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
.balloonVisible {
  width: 300px;
  height: 200px;
  background: #3e3e3e;
  color: white;
  opacity: 100;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}
.balloonUnVisible {
  composes: balloonVisible;
  opacity: 0;
}

@media (min-width: 600px) {
  .text {
    max-width: 500px;
  }
}

@media (min-width: 1000px) {
  .subText {
    font-size: 24px;
  }
  .header {
    font-size: 40px;
  }
}
